<h1>{{ title }}</h1>
<p>Location: {{ location }}</p>
<p>Current conditions: {{ current }}.</p>
<p>Temperature of {{ temp }}°F with {{ wind }}mph wind and gusts up to {{ gusts }}mph</p>
<p>Forecast: {{ forecast }} High of {{ high }}°F and a low of {{ low }}°F</p>
<a href="https://darksky.net/poweredby/">Powered By Dark Sky</a>

<div class="container" style="margin-top: 20px">
    <form action="/weather" method="post">
        <input type="text" id="address" name='address' placeholder="Location">
        <button type="submit">Submit</button>
    </form>
</div>